name: Proto Sync

permissions:
    contents: write
    packages: write

on:
    push:
        paths:
            - "proto/**"
    workflow_dispatch: # Cho phép bấm chạy thủ công để test

jobs:
    java:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-java@v4
              with:
                  java-version: "17"
                  distribution: "temurin"
                  cache: "gradle"

            - name: Build & publish Java proto
              run: ./gradlew publish
              env:
                  GITHUB_TOKEN: ${{ secrets.DART_REPO_TOKEN }}

    dart:
        needs: java
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: dart-lang/setup-dart@v1

            - name: Install protoc and plugin
              run: |
                  sudo apt-get update
                  sudo apt-get install -y protobuf-compiler
                  dart pub global activate protoc_plugin
                  # Quan trọng: Thêm path để hệ thống tìm thấy protoc-gen-dart
                  echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH

            - name: Generate Dart code
              run: |
                  chmod +x scripts/gen_dart.sh
                  bash scripts/gen_dart.sh

            - name: Push Dart code to Repo B
              env:
                  PAT_TOKEN: ${{ secrets.DART_REPO_TOKEN }}
              run: |
                  # 1. Clone repo đích vào thư mục tạm
                  git clone https://x-access-token:${PAT_TOKEN}@github.com/tavanquangkk/dart-proto-lib.git target-repo

                  # 2. Xóa trắng lib cũ và copy code mới từ out/dart vào target-repo/lib
                  rm -rf target-repo/lib/*
                  mkdir -p target-repo/lib
                  cp -r out/dart/* target-repo/lib/

                  # 3. Commit và Push
                  cd target-repo
                  git config user.email "ci@github.com"
                  git config user.name "github-actions"

                  git add .
                  # Kiểm tra nếu có thay đổi thì mới commit
                  if git diff-index --quiet HEAD; then
                    echo "No changes to commit"
                  else
                    git commit -m "auto: update proto from source [skip ci]"
                    git push origin main
                  fi
