name: Proto Sync

permissions:
    contents: write
    packages: write

on:
    push:
        paths:
            - "proto/**"

jobs:
    java:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-java@v4
              with:
                  java-version: "17"
                  distribution: temurin

            - name: Build & publish Java proto
              run: ./gradlew publish
              env:
                  GITHUB_TOKEN: ${{ secrets.A_GITHUB_TOKEN }}

    dart:
        needs: java
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: dart-lang/setup-dart@v1

            - name: Install protoc
              run: |
                  dart pub global activate protoc_plugin
                  sudo apt-get update
                  sudo apt-get install -y protobuf-compiler

            - name: Generate Dart code
              run: bash scripts/gen_dart.sh

            - name: Push Dart code to Repo B
              run: |
                  git clone https://github.com/tavanquangkk/dart-proto-lib.git
                  rm -rf dart-proto-lib/lib/*
                  cp -r out/dart/* dart-proto-lib/lib/

                  cd dart-proto-lib
                  git config user.email "ci@github.com"
                  git config user.name "github-actions"

                  git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/tavanquangkk/dart-proto-lib.git
                  git add .
                  git commit -m "auto: update proto [skip ci]" || echo "no change"
                  git push
